body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    width: 90%;
    max-width: 400px;
}

.login-box {
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

p {
    font-size: 0.9em;
    color: #aaa;
    margin-bottom: 20px;
}

.login-button {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    font-size: 1em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.google {
    background-color: #ffffff;
    color: #333;
    font-weight: bold;
    position: relative;
}

.google .subtext {
    font-size: 0.8em;
    color: #888;
    margin-top: 3%;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}

.naver {
    background-color: #03c75a;
    color: white;
    font-weight: bold;
}

.instagram {
    background: linear-gradient(45deg, #f58529, #dd2a7b, #8134af);
    color: white;
    font-weight: bold;
}

@media (max-width: 400px) {
    .login-box {
        padding: 15px;
    }

    h1 {
        font-size: 1.2em;
    }

    .login-button {
        padding: 12px;
        font-size: 0.9em;
    }
}