
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #333;
    color: white;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #222;
}

.title {
    font-size: 1.2em;
    text-align: center;
    flex-grow: 1;
    color: #fff;
}

.profile-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    margin-right: 20px;
}

.profile-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 30%;
}

.search-bar input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 25px 0 0 25px;
    background-color: #2c2c2c;
    color: #fff;
    font-size: 16px;
}

.search-button {
    padding: 10px 20px;
    border: none;
    border-radius: 0 25px 25px 0;
    background-color: #14b084;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.search-button:hover {
    background-color: #148b78;
}
