* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

ul {
    list-style-type: none;
}

body {
    font-size: 100%;
    background-color: #353535;
    color: #fff;
}
.clear {
    clear : both;
}
@media only screen and (max-width: 1024px) {
    .m_clear {
        clear : both;
    }
}

[class*="c_"] {
    float: left;
    padding: 10px;
}
/* 너비가 600픽셀 미만인 스마트폰을 위한 기본 설정 */
[class*="c_"] {
    width: 100%;
}
/* 너비가 600픽셀 이상인 태블릿을 위한 설정 */
@media only screen and (max-width: 600px) {
    .c_m_1 {
        width: 8.33%;
    }

    .c_m_2 {
        width: 16.66%;
    }

    .c_m_3 {
        width: 25%;
    }

    .c_m_4 {
        width: 33.33%;
    }

    .c_m_5 {
        width: 41.66%;
    }

    .c_m_6 {
        width: 50%;
    }

    .c_m_7 {
        width: 58.33%;
    }

    .c_m_8 {
        width: 66.66%;
    }

    .c_m_9 {
        width: 75%;
    }

    .c_m_10 {
        width: 83.33%;
    }

    .c_m_11 {
        width: 91.66%;
    }

    .c_m_12 {
        width: 100%;
    }
}
/* 너비가 768픽셀 이상인 데스크톱 컴퓨터, 노트북 등 */
@media only screen and (min-width: 1024px) {
    .c_1 {
        width: 8.33%;
    }

    .c_2 {
        width: 16.66%;
    }

    .c_3 {
        width: 20%;
    }

    .c_4 {
        width: 33.33%;
    }

    .c_5 {
        width: 42%;
    }

    .c_6 {
        width: 50%;
    }

    .c_7 {
        width: 58%;
    }

    .c_8 {
        width: 66.66%;
    }

    .c_9 {
        width: 75%;
    }

    .c_10 {
        width: 83.33%;
    }

    .c_11 {
        width: 91.66%;
    }

    .c_12 {
        width: 100%;
    }
}

a:link {
    color: #000000;
    text-decoration: none;
}

a:visited {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #000000;
    text-decoration: none;
}

a:active {
    color: #000000;
    text-decoration: none;
}

aside {

}
section {
}
section #prd-count {
    text-align: center;
    color:#868e96;
    margin-bottom:10px;
}
section .item {
    float:left;
    text-align:left;
    margin-top:10px;
    width:22%;
}
section .prd-img {
    border:solid 2px #ffffff;
}
section .img-wrapper {
    position: relative;
    width:100%;
    height:0;
    padding-bottom:100%;
    margin-left:70px;
    overflow:hidden;
}
section .image {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    padding:0 20px;
    

}
section li {
    margin-left:90px;
    width:90%;

}

@media only screen and (max-width: 1024px) {
    section .item {
        width: 50%; /* 아이템의 너비를 100%로 설정 */
        margin-bottom: 20px; /* 각 아이템 간의 세로 간격 */
    }

    section .img-wrapper {
        position: relative;
        width: 80%; /* 너비를 80%로 설정하여 좌우 여백 생성 */
        height: 0;
        padding-bottom: 80%; /* 너비에 맞게 정사각형 유지 */
        margin: 0 auto; /* 중앙 정렬 */
        margin-bottom: 20px; /* 각 아이템 간의 세로 간격 추가 */

    }

    section .image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 0;

    }

    section li {
        width: 80%; /* 너비를 80%로 설정하여 좌우 여백 생성 */
        height: 0;
        margin: 0 auto; /* 중앙 정렬 */
        margin-bottom: 20px; /* 각 아이템 간의 세로 간격 추가 */

    }
    
}

section .brand-name {
    margin-top:10px;
    font-size:16px;
}

section .prd-name {
    font-size:12px;
    height:50px;
}
section .price{
    margin-top:10px;
    margin-bottom:20px;
    font-weight:bold;
}
section .discount-rate {
    color:#ff7777;
}
