<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Initial</title>
        <link rel="stylesheet" href="css/initial_page.css" />
        <link rel="stylesheet" type="text/css" href="css/header.css" />
        <link rel="stylesheet" type="text/css" href="css/footer.css" />
        <script defer src="/js/header_button.js"></script>
    </head>
    <body>
        <header>
            <div id="page-logo">
                <div id="home">
                    <img src="img/home.png" alt="home" />
                </div>
                <div id="logo">
                    <img src="img/log.png" alt="Logo" />
                </div>
                <div id="my">
                    <img src="img/login.png" alt="my" />
                </div>
            </div>
            <div id="search">
                <form id = "search-form" action="" method="get">
                    <input id="search-txt" type="text" name="" placeholder="원하는 상품을 검색해보세요!"/>
                    <button id="search-btn" type="submit">
                        <img src="img/search.png" />
                    </button>
                </form>
            </div>
        </header>

        <div class="main-content">
            <p>로그인 시 찜하기 및 가격 변동 알림 받기가 가능합니다.</p>
            <h1>옷 살 때마다 항상 바뀌는 가격,<br />편하게 비교해보세요!</h1>
            <p>
                무신사 스카우터는 소비자들의 합리적인 구매를 위한 목적으로
                개발되었습니다.<br />저희는 수익을 창출하지 않습니다.
            </p>
            <p>(대충 쓸 말 있으면 알려주세요)<br />(없어도 됨)</p>
        </div>

        <footer class="c_12">
            <p><a href="#">개인정보처리방침</a></p>
        </footer>
    </body>
</html>