<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Page 1</title>
    <link rel="stylesheet" href="css/my_page_1.css" />
    <link rel="stylesheet" type="text/css" href="css/header.css" />
    <link rel="stylesheet" type="text/css" href="css/footer.css" />
    <script defer src="js/header_button.js"></script>
    <script defer src="js/my_page_1.js"></script>
  </head>
  <body>
    <header>
      <div id="page-logo">
        <div id="home">
          <img src="img/홈버튼.PNG" alt="home" />
        </div>
        <div id="logo">
          <img src="img/임시로고.PNG" alt="Logo" />
        </div>
        <div id="my">
          <img src="img/마이페이지.PNG" alt="my" />
        </div>
      </div>
      <div id="search">
        <form action="" method="get">
          <input
            class="search-txt"
            type="text"
            name=""
            placeholder="원하는 상품을 검색해보세요!"
          />
          <button class="search-btn" type="submit">
            <img src="img/돋보기.png" />
          </button>
        </form>
      </div>
    </header>

    <div class="main-content">
      <h1>마이페이지</h1>
      <div class="wishlist-section">
        <div class="wishlist-title">
          <span>찜 목록</span>
          <a href="#">더 보기</a>
        </div>
        <div class="wishlist-items">
          <div class="item">
            <img src="img/임시이미지.png" alt="Item 1" />
            <p>
              굿라이프웍스<br />오버사이즈 셔츠<br /><span>70% 14,700원</span>
            </p>
          </div>
          <div class="item">
            <img src="img/임시이미지2.png" alt="Item 2" />
            <p>후크<br />빈티지 워싱 체크셔츠<br /><span>53% 43,900원</span></p>
          </div>
          <div class="item">
            <img src="img/임시이미지3.png" alt="Item 3" />
            <p>이즈<br />린넨 셔츠<br /><span>50% 31,500원</span></p>
          </div>
        </div>
      </div>

      <div class="email-notification">
        <label for="emailSwitch">메일 알림 받기</label>
        <input type="checkbox" id="emailSwitch" checked />
      </div>

      <div class="terms-section">
        <button>회원 정보 및 이용약관</button>
      </div>
    </div>

    <footer class="c_12">
      <p><a href="#">개인정보처리방침</a></p>
      <p>email : <a href="#">1234@gmail.com</a></p>
    </footer>
  </body>
</html>
